<%# logic for cloudinary photo attached by user else use homepage background needed%>
<% if @list.photo.present?%>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_tag @list.photo.key, height: 180, width: 200, crop: :fit %>);">
    <%= render 'lists/banner'%>
  </div>
<%else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('homepage_bckgrnd.jpg') %>);">
    <%= render 'lists/banner'%>
  </div>
<% end %>
<div class="container">
  <h2 class= 'text-center pt-2'>Movies</h2>
  <div class = "cards">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card">
        <div class="card-img">
          <%= image_tag movie.poster_url, alt: movie.title, class: "card-product img" %>
        </div>
        <div class = "card-body">
          <strong class="card-title"><%= movie.title %> <span class="text-muted font-weight-normal"><%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
          <p class="card-text"><%= movie.overview %></p>
          <strong>comments</strong>
          <div class="card-text">
            <small class="text-muted"><%= bookmark.comment %></small>
          </div>
          <%= link_to "delete", bookmark_path(bookmark),data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'btn btn-outline-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
