<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('homepage_bckgrnd.jpg') %>);">
  <div class="container">
    <h1 class = "text-center"><%= @list.name %>
      <%= link_to 'Add Movie', new_list_bookmark_path(@list), class: "btn btn-primary"%>
      <%= link_to "delete list", list_path(@list), method: :delete, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
    </h1>
  </div>
</div>

<div class="container">
  <div class = "cards">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card">
        <div class="card-img">
          <%= image_tag movie.poster_url, alt: movie.title, class: "card-product img" %>
        </div>
        <div class = "card-body">
          <strong class="card-title"><%= movie.title %> <span class="text-muted font-weight-normal"><%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
          <p class="card-text"><%= movie.overview %></p>
          <strong>comments</strong>
          <div class="card-text">
            <small class="text-muted"><%= bookmark.comment %></small>
          </div>
          <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
